**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.vscode
**/.github
**/*.sqlite3
**/db.sqlite3
.env
.env.*
.dockerignore
Dockerfile
README.md
LICENSE
docs
tests
*.md
*.yml
.git
.gitignore
